<ul class="gray_menu">
<li><a href="/store/production/moto/">Мотоциклы</a></li>
<li><a href="/store/production/kvadro/">Квадроциклы</a></li>
<li><a href="/store/production/motodirt/">Мотовездеходы</a></li>
<li><a href="/store/production/scooters/">Скутеры</a></li>
</ul>