<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01//EN"
   "http://www.w3.org/TR/html4/strict.dtd">

<html lang="en">
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
	<meta name="csrf-token" content="<%= form_authenticity_token %>" />
	<meta name="csrf-param" content="authenticity_token" />
	
	<title>Дизайн-студия Logomotiv</title>
	<link rel="stylesheet" type="text/css" href="/stylesheets/reset.css" media="screen" />
	<link rel="stylesheet" type="text/css" href="/stylesheets/my.css" media="screen" />


	<%= javascript_include_tag "http://ajax.googleapis.com/ajax/libs/jquery/1.4.1/jquery.min.js" %>

</head>
<body>

<table width="100%" class="container">
		<tbody>
			<tr valign="top">
				<td width="3%"></td>
				<td width="16%">
					<img src="/images/logomotiv.gif" />
				</td>
				<td width="3%"></td>
				<td width="61%">
					<ul class="nav">
						<% Page.roots.each do |p| %>
						<li><a class="nav" href="about/studio/"><%= p.title %></a></li>
						<% end %>
						<li><a class="nav" href="portfolio/">Наши работы</a></li>
						<li><a class="nav" href="identity/">Визуальная айдентика</a></li>
						<li><a class="nav" href="about/contacts/">Контактная информация</a></li>
					</ul>
				<td width="16%">
					<p class="phone"><nobr><span class="phone_code">(812)</span> <span>572-39-03</span></nobr></p>
					<a class="map">Карта проезда</a>
					<a class="green_cloud"><span>Блог</span></a>
				</td>
				<td width="1%">
			</tr>
			<tr valign="top">
				<td width="3%"></td>
				<td width="16%">
				
					<ul class="nav">
					  <li><b>Студия</b></li>
					  <li><a class="nav" href="../leadership/">Руководство компании</a></li>
					  <li><a class="nav" href="../why/">Почему мы этим занимаемся</a></li>
					  <li><a class="nav" href="../vacancy/">Вакансии</a></li>
					</ul>
				</td>
				<td width="3%"></td>
				<td width="61%" id="content">
					<%= yield %>
					<font class="quest">Кто мы&nbsp;такие?</font><br>
					<font class="why">Дизайн-студия Logomotiv.</font><br>
					<br>
					<font class="quest">Чем мы&nbsp;занимаемся?<br>
					</font><font class="why">Мы&nbsp;помогаем компаниям эффективно использовать<br>

					дизайн в&nbsp;своем развитии.</font><br>
					<br>
					<font class="quest">Для кого предназначена услуга?<br>
					</font><font class="why">Для смелых компаний и&nbsp;товаров, желающих<br>

					обозначиться, выделиться, победить.<br>
					</font><br>
								<font class="quest">Мы&nbsp;против!<br>
								</font><font class="why">Инерции, неподвижности, косности, тупизны.<br>
					</font><br>
					<font class="quest">В&nbsp;чем наше отличие?<br>
					</font><font class="why">Мы&nbsp;занимаемся решением задач. Для нас дизайн&nbsp;— это мощный и&nbsp;гибкий инструмент для достижения цели, а&nbsp;не&nbsp;самоцель.</font><p class="portfolio"><a href="history/">Подробно</a>&nbsp;&nbsp;<a href="history/"><img src="http://logomotiv.ru/images/tuda.gif" alt="" border="0" height="7" width="9"></a></p>
				<td width="16%" id="right_col">
					<p>
					Над проектом работали:
					</p>
					<br/>
					<div class="people_group">
					<p><b>Арт-директор</b></p>
					<p>Иван Большов</p>
					</div>
					<div class="people_group">
					<p><b>Дизайнеры</b></p>
					<p>Иван Большов</p>
					<p>Александр Шатиль</p>
					</div>
					<div class="people_group">
					<p><b>Менеджер проекта</b></p>
					<p>Анна Шелковникова</p>
					</div>
					<div class="people_group">
					<p><b>Человек оркестр</b></p>
					<p>Андрей Прялкин</p>
					</div>
	
				</td>
				<td width="1%">
			</tr>
			<tr height="20"></tr>
			<tr valign="top">
				<td colspan="6">
				<div id="footer">
								© 2003–2009, Дизайн-студия Logomotiv. Все права защищены.  |  <a class="copyright" href="sitemap/">Карта сайта</a>&nbsp;&nbsp;|&nbsp;&nbsp;<a class="copyright" href="clientlogin/">Клиентская часть</a>&nbsp;&nbsp;|&nbsp;&nbsp;Телефон / факс: +7 (812) 572-39-03&nbsp;&nbsp;|&nbsp;&nbsp;Эл. почта: <a class="copyright" href="mailto:design@logomotiv.ru">design@logomotiv.ru</a>
									<!--LiveInternet counter-->
								<script type="text/javascript"><!--
								document.write("<a href='http://www.liveinternet.ru/click' "+
								"target=_blank><img align='right' src='http://counter.yadro.ru/hit?t45.1;r"+
								escape(document.referrer)+((typeof(screen)=="undefined")?"":
								";s"+screen.width+"*"+screen.height+"*"+(screen.colorDepth?
								screen.colorDepth:screen.pixelDepth))+";u"+escape(document.URL)+
								";"+Math.random()+
								"' alt='' title='LiveInternet' "+
								"border=0 width=31 height=31><\/a>")//--></script><!--/LiveInternet-->
				</div>
				</td>
			</tr>
	</tbody>
</table>



 <!-- YaMetrics begin -->
<script type="text/javascript"><!--
var ya_cid=88284;
//--></script>
<script src="http://bs.yandex.ru/resource/watch.js" type="text/javascript"></script>
<noscript><div style="display: inline;"><img src="http://bs.yandex.ru/watch/88284" width="1" height="1" alt=""></div></noscript>
<!-- YaMetrics end -->

<!--
<div class="container_16">
	<div class="grid_16" id="header">
		<div class="grid_3" id="logo">
			<img src="images/logomotiv.gif" />
		</div>
		<div class="grid_8" id="nav">
			<ul>
				<li><a class="nav" href="about/studio/">О компании</a></li>
				<li><a class="nav" href="portfolio/">Наши работы</a></li>
				<li><a class="nav" href="identity/">Визуальная айдентика</a></li>
				<li><a class="nav" href="about/contacts/">Контактная информация</a></li>
			</ul>
		</div>
		<div class="grid_4" id="info">!!блок справа
		</div>
	</div>
</div>
-->
</body>
</html>
